@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
@import './sass/helpers/variables';
@import './sass/icons/fontawesome.scss';
@import './sass/icons/solid.scss';
@import './sass/icons/brands.scss';
@import './sass/icons/regular.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Libre Franklin', Tahoma, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}

header, main, footer {
  width: 85%;
  text-align: center;
  margin: 0 auto;
}

header {
  margin-top: 5rem;
  
  img {
    width: 3.3rem;
  }
}

main {
  h1 {
    margin-top: 2.5rem;
    color: $gray;
    font-size: 1.4rem;
    font-weight: 300;

    strong {
      color: $very-dark-blue;
      font-weight: 700;
    }
  }

  p {
    color: $very-dark-blue;
    font-size: 0.75rem;
    margin-top: 1rem;
  }

  form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 4rem;

    input, button {
      display: block;
      width: 100%;
      height: 2.5rem;
      border-radius: 4rem;
    }

    .form-input {
      width: 100%;

      input {
        padding: 0 2rem;
        border: 1px solid $pale-blue;
        color: $pale-blue;

        &:focus {
          color: $very-dark-blue;
        }
      }

      input.error--active {
        color: $very-dark-blue;
        border: 2px solid $light-red;
        outline: $light-red;
      }

      p.error {
        margin: 0;

        &--active {
          margin: 0.5rem 0 1rem;
          color: $light-red;
          font-style: italic;
        }
      }
    }

    button {
      margin-top: 0.625rem;
      background-color: $blue;
      border: 1px solid $blue;
      box-shadow: 1px 5px 14px $pale-blue;
      color: $white;
      font-family: inherit;
      font-size: 0.75rem;
      font-weight: 600;
      cursor: pointer;
    }
  }

  img {
    width: 100%;
  }
}

footer {
  margin-top: 6rem;

  .social-links {
    width: 9rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .icon {
      border: 1px solid $pale-blue;
      border-radius: 50%;
      width: 1.9375rem;
      height: 1.9375rem;

      a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 0.875rem;
        text-decoration: none;

        &:link, &:visited {
          color: $blue;
        }
      }
    }
    
    // Icons
    .facebook-f {
        @extend %fa-icon;
        @extend .fab;
      
        &:before {
          content: fa-content($fa-var-facebook-f);
        }
    }
    
    .twitter {
        @extend %fa-icon;
        @extend .fab;
      
        &:before {
          content: fa-content($fa-var-twitter);
        }
    }
    
    .instagram {
        font-size: 1rem;
        @extend %fa-icon;
        @extend .fab;
      
        &:before {
          content: fa-content($fa-var-instagram);
        }
    }
  }

  .copyright {
    margin-top: 1.5rem;
    color: $gray;
    font-size: 0.625rem;
  }
  
  .attribution { 
      font-size: 11px; 
      text-align: center; 
      color: $gray;
      
      a { 
          color: hsl(228, 45%, 44%); 
      }
  }
}

@media only screen and (min-width: 768px) {
  header {
    img {
      width: 4.3rem;
    }
  }
  
  main {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 00.875rem;
    }

    form, img {
      max-width: 700px;
    }

    form {
      max-width: 700px;
      height: 6rem;
      flex-direction: row;
      align-items: flex-start;

      .form-input {
          width: 63%;

          p.error {
            text-align: left;
            margin-left: 2rem;
          }
      }

      button {
        width: 35%;
        margin-top: 0;
      }
    }
  }

  footer {
    .copyright {
      font-size: 0.6875rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  header {
    img {
      width: 5.3rem;
    }
  }

  main {
    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.25rem;
    }

    form {
      margin-top: 3rem;

      input, button {
        height: 3.2rem;
        font-size: 1rem;
      }

      .form-input {
        width: 69%;

        p.error {
          font-size: 0.875rem;
        }
      }

      button {
        width: 28%;
        
        &:hover {
          opacity: 0.9;
        }

        &:active {
          opacity: 0.7;
        }
      }
    }
  }

  footer {
    .social-links {
      .icon{
        &:hover {
          border-color: $blue;
          background-color: $blue;

          .facebook-f, .twitter, .instagram {
            color: $white;
          }
        }
      }
    }

    .copyright {
      font-size: 0.75rem;
    }

    .attribution {
      margin-bottom: 4rem;
    }
  }
}